* {
    margin: 0;
    padding: 0;
}
.w {
    width: 390px;
    margin: auto;
}
.w2 {
    width: 370px;
    margin: auto;
}
.header {
    line-height: 58px;
    height: 58px;
    margin-top: 6px;
    border: 1px solid #000;
}
.left {
    text-align: center;
    line-height: 35px;
    float: left;
    height: 35px;
    width: 35px;
    border-radius: 25px;
    border: 1px solid;
    margin-top: 10px;
    margin-left: 10px;
}
.item {
    position: relative;
    font-size: 14px;
    font-family: PingFangSC-regular;
    margin-top: 13px;
    border-style:solid;
	border-width:1px;
}
.word {
    margin: 20px;
}
.in {
    position: absolute;
    right: 10px;
    top: 10px;
    color: green;
    font-size: 36px;
    text-align: left;
    font-family: PingFangSC-regular;
}
.out {
    position: absolute;
    right: 10px;
    top: 10px;
    color: red;
    font-size: 36px;
    text-align: left;
    font-family: PingFangSC-regular;
}
